---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Fira Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  #333;
$background-url : url(/images/triangle_background.png);

$white: #fafafa;

$brand-red: #ce3045;
$brand-red-alt: #ca968c;
$brand-grey: #4f4f4f;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body {
  padding-top: 77px;
  font-family: $base-font-family;
}

.slab {
  padding: 100px 0px;
  text-align: left;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  &.inverted {
    color: $white;

    h1:after, h2:after {
      background-color: $white;
    }
  }
}

#about {
  h2 {
    text-align: center;
    color: $brand-red;
    margin: 5% 0;
  }
}

#how-we-work {
  background-color: $brand-red-alt;
}

.navbar-fixed-top {
  background: $background-url;
}

.navbar-nav {
  li {
    a {
      text-transform: uppercase;
      padding: 27px 15px;
      font-weight: bold;
      font-size: 16px;
      color: black;
      transition: all .5 ease-in-out;
      border-bottom: 3px solid transparent;
      &.active {
        border-bottom: 3px solid $grey-color;
      }

      &:hover, &:active {
        border-bottom: 3px solid $grey-color;
        background: none;
      }
    }
  }
}

@media (max-width: 767px) {
  #brand-image {
    padding-left: 15px;
  }
}

.navbar-toggle .icon-bar {
  background-color: $brand-red;
}

.service-wrapper {
  padding: 30px 0 60px;
  text-align: center;
}
.team-wrapper {
  text-align: center;
  padding-top: 30px;
  color: $grey-color-dark;

  img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
  }

  a {
    color: $grey-color-dark;

    &:hover, &:active
    {
      color: $brand-red;
    }
  }

  h3.team-name {
    margin-top: 0px;
    margin-bottom: 5px;
    color: $grey-color-dark;
    font-weight: 600;
  }
  .position {
    display: block;
    margin: 40px 0px;
    color: $grey-color-dark;
  }
  .team-social {
    ul {
      font-size: 2em;
      li {
        display: inline;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .team-wrapper {
    text-align: center;

    .team-social ul li {
      padding-right: 0px;
    }
  }

  .team-image {
    margin-bottom: 5%;
  }
}

.icon {
  i {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
  }
}

.inverted .icon i {
    border-color: $white;
}

#site-footer {
  background-color: $grey-color-dark;
  color: $white;
  padding: 50px 0px;
}

@import
       "header",
       "footer",
       "hero",
       "get-involved",
       "buttons",
       "contact",
       "blog",
       "contact",
       "sections",
       "post",
       "partners"
;
