  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><img src="/images/logo_100.png" alt="Code for ABQ"></a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#get-involved">Get Involved!</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="https://secure.codeforamerica.org/page/contribute/?brigade=Code%20for%20ABQ">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>

