  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img src="/images/logo_100.png" alt="Code for ABQ"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#get-involved">Get Involved!</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><a href="https://secure.codeforamerica.org/page/contribute/?brigade=Code%20for%20ABQ">Donate</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
