#get-involved
    .involved_panel
        text-align: center
    .service-wrapper
        display: inline-block
        a
            color: $grey-color-dark
        & > a
            color: $brand-red
            display: inline-block
        hr
            border-bottom: solid $brand-red 3px
            margin-bottom: 2em
        h3
            font-size: $base-font-size * 2
            font-weight: bold
            color: $brand-red
        p
            font-weight: bold