<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="content" >
    	<div class="container">
    		<div class="row">

          {% assign author = site.people[page.author] %}

          <div class="col-md-12">
            <div class="section-heading-wrapper ">
              <h2 class="title">{{ page.title }}</h2>
              Posted {{ page.date | date: '%B %d, %Y' }} by {{ author.display_name | default: page.author | default: "anonymous"}}
            </div>
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

	</body>
</html>
