<section id="contact" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ">
				<div class="service-wrapper">
					<a href="mailto:hello@codeforabq.org" target="_top">
					<img src="/images/email_logo_code_for_abq.png">
					<h3 class="title">Email Us</h3>
					</a>
				</div>
			</div>

			<div class="col-md-4 ">
				<div class="service-wrapper">
					<a href="https://twitter.com/codeforabq">
					<img src="/images/twitter1_logo_code_for_abq.png">
					<h3 class="title">Tweet at Us</h3>
					</a>
				</div>
			</div>

			<div class="col-md-4 ">
				<div class="service-wrapper">
					<a href="https://facebook.com/codeforabq">
					<img src="/images/facebook_logo_code_for_abq.png">
					<h3 class="title">Like Us</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>