<section id="get-involved" class="slab">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading-wrapper ">
					<h2 class="title">Get Involved!</h2>
				</div>
			</div>
			<div class="list-services-wrapper animation-wrapper" >
				<div class="col-md-4 ">
					<div class="service-wrapper">
						<span class="icon"><i class="fa fa-fw fa-github-alt"></i></span>
						<h3 class="title">Work on a Project</h3>
						<p>Not all of our projects involve code, but some do. Our code lives on <a href="https://github.com/codeforabq">GitHub</a>.</p>
					</div>
				</div>

				<div class="col-md-4 ">
					<div class="service-wrapper">
						<span class="icon"><i class="fa fa-fw fa-calendar"></i></span>
						<h3 class="title">Come to a Meeting</h3>
						<p>We meet once a month.
							<br>
							<br>Find out more on <a href="http://meetup.com/Code-for-ABQ/">Meetup</a>.</p>
					</div>
				</div>

				<div class="col-md-4 ">
					<div class="service-wrapper">
						<span class="icon"><i class="fa fa-fw fa-users"></i></span>
						<h3 class="title">Sign up for CivNet!</h3>
						<p>Our partner, <a href="http://civnet.co/">CivNet</a>, is open to beta users. CivNet is a new online platform that helps you make an impact on issues you care about.
							<br>
							<br>
							<a href="http://beta.civnet.co/">Sign up</a> or <a href="http://splash.civnet.co/">learn more</a> about CivNet.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>