<section id="get-involved" class="slab">
	<div class="container">
		<div class="row">
			<div class="list-services-wrapper animation-wrapper" >
				<div class="col-md-4 involved_panel">
					<div class="service-wrapper">
						<a href="https://github.com/codeforabq">
							<img src="/images/get_involved/git_hub_logo.png" alt="Github">
							<h3 class="title">Join our<br>GitHub</h3>
							<hr>
						</a>
						<p>
							Not all of our projects involve code,<br>
							but some do. Our code lives on <a href="https://github.com/codeforabq">GitHub</a>.
						</p>
					</div>
				</div>

				<div class="col-md-4 involved_panel">
					<div class="service-wrapper">
						<a href="https://github.com/codeforabq">
							<img src="/images/get_involved/admit_ticket_code_for_abq.png" alt="Join us">
							<h3 class="title">Come to<br>a Meeting</h3>
							<hr>
						</a>
						<p>
							We meet once a month.<br>
							Find out more on <a href="http://meetup.com/Code-for-ABQ/">Meetup</a>.
						</p>
					</div>
				</div>

				<div class="col-md-4 involved_panel">
					<div class="service-wrapper">
						<a href="http://civnet.co/">
							<img src="/images/get_involved/civ_net_logo.png" alt="Civ Net">
							<h3 class="title">Sign up for<br>CivNet!</h3>
							<hr>
						</a>
						<p>
							Our partner, <a href="http://civnet.co/">CivNet</a>, is open to beta users.<br>
							CivNet is a new online platform that helps<br>
							you make an impact on issues you care about.<br>
							<br>
							<a href="http://beta.civnet.co/">Sign up</a> or <a href="http://splash.civnet.co/">learn more</a> about CivNet.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>