<section id="branding" class="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="section-heading-wrapper ">
					<h1 class="title ">Code for ABQ</h1>
					<h4 class="sub-title ">A group of Community members building tools together for a better Albuquerque</h4>
					<br>
					<a class="button" href="/#get-involved">Get Involved</a>
				</div>
			</div>
			<div class="col-md-5">
				<img src="/images/code_for_abq_balloon.png" alt="logo">
			</div>
		</div>
	</div>
</section>