<section id="how-we-work" class="slab inverted">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h2>How We Work</h2>
			</div>

			<div class="list-services-wrapper animation-wrapper">
				<div class="col-md-6 ">
					<div class="service-wrapper">
						<span class="icon"><i class="fa fa-fw fa-gavel"></i></span>
						<h3 class="title">Code of Conduct</h3>
						<p>We care about maintaining a safe and welcoming environment.
							<br>Please take the time to read our <a href="/policies/code-of-conduct.html">Code of Conduct</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 ">
					<div class="service-wrapper">
						<span class="icon"><i class="fa fa-fw fa-list"></i></span>
						<h3 class="title">Strategic Goals</h3>
						<p>If you didn't write it down, it didn't happen.
							<br>...so we wrote <a href="https://drive.google.com/file/d/0B_NAMT99AqaWLUV4T3VXeWVBUUk/view?usp=sharing">Strategic Goals </a> for 2015.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>